body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), 
    url('https://i.postimg.cc/rmBbXT1y/image.png'); /*define uma imagem de fundo com um gradiente escuro*/
}

main {
    display: flex; /*define o layout "flexivel"*/
    justify-content: center; /*centraliza o conteudo*/
    padding: 20px; /*espaçamento*/
}

#figPokedex {
    width: 400px; /*largura da imagem*/
    height: 600px;/*altura*/
}

#container {
    position: relative; /*posição relativa para facilitar*/
    width: 400px; /*largura*/
    height: 600px;/*alura*/
}

#fotoPoke {
    position: absolute;/*posição absolta de acordo com top e left*/
    top: 35%; /*35% do topo do contêiner*/
    left: 45%; /*45% da largura do contêiner*/
}

#form {
    position: absolute;/*posição absolta de acordo com top e left*/
    top: 63%;/*63% do topo do contêiner*/
    left: 40%;/*40% da largura do contêiner*/
}

#input{
    font-size: 12px; /*tamanho da fonte*/
    text-align: center; /*centraliza o texto dentro do input*/
    border-radius: 4px;/*borda arredondada*/
    border: 1% solid #999; /*cor da borda*/
}

#nome-pokemon {
    position: absolute;/*posição absolta de acordo com top e left*/
    top: 71%; /*71% do topo do contêiner*/
    left: 25%;/*25% da largura do contêiner*/
    font-size: 120%; /*tamanho da fonte*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*alterando a fonte*/
    color: #000000;/*cor do nome*/
    background-color: #bc5959; /*fundo do texto*/
    box-shadow: 2px 2px 5px rgba(111, 15, 15, 0.7);/*sombra da caixa de texto*/
    padding: 2px; /*espaço interno*/
    border-radius: 5px; /*borda arredondada*/
}

#informacoes01 {
    position: absolute;/*posição absolta de acordo com bottom e left*/
    bottom: 17%;/*ajusta a distancia, de baixo para cima*/
    left: 25%;/*25% de largura do conteiner*/
    font-size: small;/*fonte pequena*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*alterando a fonte*/
    color: #380000; /*cor da letra*/
    
}

#informacoes2 {
    position: absolute;/*posição absolta de acordo com bottom e left*/
    bottom: 4%;/*ajusta a distancia, de baixo para cima*/
    left: 25%;/*25% de largura do conteiner*/
    color: #002100;/*cor da letra*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*alterando fonte*/
}

#botoes {
    display: flex;/*define o layout "flexivel"*/
    position: absolute;/*posição absolta de acordo com top e left*/
    top: 98%; /*98% do topo do conteiner*/
    left: 50%;/*50% de largura do conteiner*/
    gap: 20%;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;/*alterando fonte*/
    font-size: 110%;/*tamanhio da fonte*/
    padding: 5px 10px;/*topo e o fundo terão 5px de espaçamento interno. esquerda e a direita terão 10px de espaçamento interno.*/
    background-color: #d36666; /*cor de fundo dos botões*/
    color: black;/*cor da letra presente nos botões*/
}

#botaoIntro{
    position: absolute;/*posição absolta de acordo com top e left*/
    top: 16%;/*16% do topo do conteiner*/
    left: 68%;/*68% de largura do conteiner*/
    font-size: 110%;/*tamanho da fonte*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*alterando a fonte*/
    padding: 5px 5px;/*topo e o fundo terão 5px de espaçamento interno. esquerda e a direita terão 5px de espaçamento interno.*/
    background-color: #d36666;/*cor de fundo do botão intro*/
    color: black;/*fonte preta*/
    border-color: #bc5959;/*cor da borda*/
}

button:hover, #botaoIntro:hover {
    background-color: #e0a5a5; /* Cor muda ao passar o mouse */
}

button:active {
    transform: scale(0.95); /* Efeito ao clicar */
}
